<div class="banner">
    <div class="container-banner">
        <p class="banner__text">Оксфорд 1950</p>
        <p class="banner__h1">Новая коллекция изысканных кресел</p>
       <button class="banner__btn banner__btn-hidden" type="button" aria-label="Кнопка для детального ознакомления">Ознакомиться</button>
    </div>
</div>
<div class="banner-block">
    <div class="container-banner">
       <button class="banner-block__btn" type="button" aria-label="Кнопка для детального ознакомления">Ознакомиться</button>
    </div>
</div>

