<section class="contacts">
    <div class="container">
        <div class="contacts-content">
            <h2 class="contacts-content__h2">Мы всегда вам рады!</h2>
            <div class="contacts-content__p">Безусловно, новая модель организационной деятельности в значительной степени обусловливает
                важность распределения внутренних резервов и ресурсов.
                <div class="contacts-tooltip">
                    <span class="contacts-tooltip__marker" tabindex="0">
                        <svg x="0px" y="0px" width="14px" height="14px" viewBox="0 0 14 14" style="enable-background:new 0 0 14 14;" xml:space="preserve">
                            <circle class="st0" cx="7" cy="7" r="7"/>
                            <ellipse class="st1" cx="7" cy="7" rx="6.1" ry="6.2"/>
                            <path class="st2" d="M7.4,4.7c-0.3-0.1-0.6,0-0.9,0.2C6.2,5,6,5.3,5.9,5.6C5.8,5.8,5.6,6,5.3,6C4.9,6,4.6,5.5,4.7,5.1
                                c0.2-0.6,0.6-1.1,1.1-1.4C6.4,3.4,7,3.3,7.6,3.4c0.6,0.1,1.1,0.4,1.5,0.9C9.5,4.8,9.7,5.4,9.7,6c0,1-0.7,1.6-1.3,2
                                C8.2,8.1,7.9,8.3,7.7,8.4c-0.1,0-0.2,0.1-0.3,0.1c0,0-0.1,0-0.1,0l0,0l0,0l0,0l0,0c0,0,0,0-0.2-0.6l0.2,0.6C6.9,8.7,6.4,8.3,6.5,7.8
                                c0-0.2,0.2-0.4,0.4-0.5l0,0c0,0,0,0,0,0c0,0,0.1,0,0.2-0.1C7.3,7.1,7.6,7,7.8,6.9C8.2,6.6,8.4,6.3,8.4,6v0c0-0.1,0-0.2,0-0.3
                                C8.3,5.2,7.9,4.8,7.4,4.7z M7.5,10.1c0.2,0.5-0.3,1.1-0.8,0.8c-0.1-0.1-0.2-0.2-0.3-0.3C6.1,10,6.6,9.5,7.2,9.7
                                C7.3,9.8,7.5,9.9,7.5,10.1z"/>
                        </svg>
                    </span>
                    <div  class="contacts-tooltip__text">
                        Реплицированные с зарубежных источников, исследования формируют глобальную сеть.
                    </div>
                </div>
            </div>
            <form action="#" class="contacts-content__form form" autocomplete="off">
                <div class="contacts-content__input-wrapper"><input class="contacts-content__input input-name" placeholder="Как зовут тебя?" type="text" aria-label="Ввод имени"></div>
                <div class="contacts-content__input-wrapper"><input class="contacts-content__input input-tel" placeholder="Ваш телефон?" type="tel" aria-label="Ввод номер телефона"></div>
                <div class="contacts-content__input-wrapper"><input class="contacts-content__input input-mail" placeholder="Ваш e-mail" type="text" aria-label="Ввод e-mail"></div>
                <button class="contacts__form__btn" type="submit" aria-label="Кнопка отправить">Отправить</button>
                
                <div class="contacts-content-checkbox">
                    <input class="contacts-content-checkbox__input" id="contacts__form__label__check" type="checkbox" aria-label="Кнопка принятия соглашения">
                    <label class="contacts-content-checkbox__label" for="contacts__form__label__check">Принимаю</label>
                    <a class="contacts-content-checkbox__link" href="#">пользовательское соглашение</a>
                </div>
            </form>
        </div>
    </div>
</section> 

