<section class="top-category">
    <div class="container">
        <h2 class="top-category__h2">Топ категории</h2>
        <ul class="top-category__ul">
            <li class="top-category__item top-category__assortment-sofa">
                <div class="assortment-description">
                    <nav class="assortment-description__nav">
                        <ul class="assortment-description__ul">
                            <li class="assortment-description__li"><a class="assortment-description__link" href="#">Прямые</a></li>
                            <li class="assortment-description__li"><a class="assortment-description__link" href="#">Угловые</a></li>
                            <li class="assortment-description__li"><a class="assortment-description__link" href="#">Модульные</a></li>
                        </ul>
                     </nav>
                     <div class="assortment-wrapper">
                        <h3 class="assortment-wrapper__h3">Диваны</h3>
                        <button class="assortment-wrapper__btn" type="button" aria-label="Кнопка для перехода в раздел товары">
                            <svg width="23" height="23" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_663_1785)">
                                <circle class="catalog-circle" cx="11" cy="11" r="10"  stroke-width="2"/>
                                <path class="catalog-path" d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </g>
                                <defs>
                                <clipPath id="clip063_17oods85">
                                <rect width="22" height="22" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                        </button>
                     </div>
                 </div>
                 <picture class="top-category__img">
                    <source srcset="img/320px/main/top_category/top_category_01.webp" media="(max-width: 450px)">
                     <img class="top-category__img" src="img/hige/main/top_category/top_category_01.webp" alt="Изображение раздела топ категории">
                </picture>
                 <button class="top-category__btn"><strong>В каталог</strong>
                    <svg width="23" height="23" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_663_1785)">
                        <circle class="catalog-circle" cx="11" cy="11" r="10"  stroke-width="2"/>
                        <path class="catalog-path" d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <defs>
                        <clipPath id="clip063fe4_17s85xc">
                        <rect width="22" height="22" fill="white"/>
                        </clipPath>
                        </defs>
                    </svg>
                </button>
            </li>
            <li class="top-category__item top-category__assortment-chair">
                <div class="assortment-description">
                    <nav class="assortment-description__nav">
                        <ul class="assortment-description__ul">
                            <li class="assortment-description__li"><a class="assortment-description__link" href="#">Мягкие</a></li>
                            <li class="assortment-description__li"><a class="assortment-description__link" href="#">Кресла-кровати</a></li>
                        </ul>
                     </nav>
                     <div class="assortment-wrapper">
                        <h3 class="assortment-wrapper__h3">Кресла</h3>
                        <button class="assortment-wrapper__btn" type="button" aria-label="Кнопка для перехода в раздел товары">
                            <svg width="23" height="23" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_663_1785)">
                                <circle class="catalog-circle" cx="11" cy="11" r="10"  stroke-width="2"/>
                                <path class="catalog-path" d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </g>
                                <defs>
                                <clipPath id="clipd4063_17s85">
                                <rect width="22" height="22" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                        </button>
                     </div>
                </div>
                <picture class="top-category__img">
                    <source srcset="img/320px/main/top_category/top_category_02.webp" media="(max-width: 450px)">
                    <source srcset="img/1024px/main/top_category/top_category_02.webp" media="(max-width: 1251px)">
                    <img class="top-category__img" src="img/hige/main/top_category/top_category_02.webp" alt="Изображение раздела топ категории">
                </picture>
                <button class="top-category__btn"><strong>В каталог</strong>
                    <svg width="23" height="23" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_663_1785)">
                        <circle class="catalog-circle" cx="11" cy="11" r="10"  stroke-width="2"/>
                        <path class="catalog-path" d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_663_185">
                        <rect width="22" height="22" fill="white"/>
                        </clipPath>
                        </defs>
                    </svg>
                </button>
           </li>
           <li class="top-category__item top-category__assortment-bed">
                <div class="assortment-description">
                    <nav class="assortment-description__nav">
                        <ul class="assortment-description__ul">
                            <li class="assortment-description__li"><a class="assortment-description__link" href="#">Односпальные</a></li>
                            <li class="assortment-description__li"><a class="assortment-description__link" href="#">Двуспальные</a></li>
                         </ul>
                    </nav>
                    <div class="assortment-wrapper">
                        <h3 class="assortment-wrapper__h3">Кровати</h3>
                        <button class="assortment-wrapper__btn" type="button" aria-label="Кнопка для перехода в раздел товары">
                            <svg width="23" height="23" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_663_1785)">
                                <circle class="catalog-circle" cx="11" cy="11" r="10"  stroke-width="2"/>
                                <path class="catalog-path" d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </g>
                                <defs>
                                <clipPath id="clip063_17sss385">
                                <rect width="22" height="22" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                        </button>
                     </div>
                </div>
                <picture class="top-category__img-bed">
                    <source srcset="img/320px/main/top_category/top_category_03.webp" media="(max-width: 450px)">
                    <source srcset="img/1024px/main/top_category/top_category_03.webp" media="(max-width: 1251px)">
                    <img class="top-category__img" src="img/hige/main/top_category/top_category_03.webp" alt="Изображение раздела топ категории">
                </picture>
                <button class="top-category__btn"><strong>В каталог</strong>
                    <svg width="23" height="23" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_663_1785)">
                        <circle class="catalog-circle" cx="11" cy="11" r="10"  stroke-width="2"/>
                        <path class="catalog-path" d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_663_1785">
                        <rect width="22" height="22" fill="white"/>
                        </clipPath>
                        </defs>
                    </svg>
                </button>
            </li>
            <li class="top-category__item top-category__assortment-bollard">
                <div class="assortment-description">
                    <nav class="assortment-description__nav">
                        <ul class="assortment-description__ul">
                            <li class="assortment-description__li"><a class="assortment-description__link" href="#">Тумбы</a></li>
                            <li class="assortment-description__li"><a class="assortment-description__link" href="#">Комоды</a></li>
                        </ul>
                    </nav>
                    <div class="assortment-wrapper assortment-wrapper-mod">
                        <h3 class="assortment-wrapper__h3">Тумбы и комоды</h3>
                        <button class="assortment-wrapper__btn" type="button" aria-label="Кнопка для перехода в раздел товары">
                            <svg width="23" height="23" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_663_1785)">
                                <circle class="catalog-circle" cx="11" cy="11" r="10"  stroke-width="2"/>
                                <path class="catalog-path" d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </g>
                                <defs>
                                <clipPath id="clip063_17ssw85">
                                <rect width="22" height="22" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                        </button>
                     </div>
                </div>
                <picture>
                    <source srcset="img/320px/main/top_category/top_category_04.webp" media="(max-width: 450px)">
                    <source srcset="img/1024px/main/top_category/top_category_04.webp" media="(max-width: 1251px)">
                    <img class="top-category__img" src="img/hige/main/top_category/top_category_04.webp" alt="Изображение раздела топ категории">
                </picture>
                <button class="top-category__btn"><strong>В каталог</strong>
                    <svg width="23" height="23" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_663_1785)">
                        <circle class="catalog-circle" cx="11" cy="11" r="10"  stroke-width="2"/>
                        <path class="catalog-path" d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_663_178ge5">
                        <rect width="22" height="22" fill="white"/>
                        </clipPath>
                        </defs>
                    </svg>
                </button>
            </li>
            <li class="top-category__item top-category__assortment-pew">
                <div class="assortment-description">
                    <nav class="assortment-description__nav">
                        <ul class="assortment-description__ul">
                            <li class="assortment-description__li"><a class="assortment-description__link" href="#">Деревянные</a></li>
                            <li class="assortment-description__li"><a class="assortment-description__link" href="#">Металлокаркас</a></li>
                        </ul>
                    </nav>
                    <div class="assortment-wrapper">
                        <h3 class="assortment-wrapper__h3">Стулья</h3>
                        <button class="assortment-wrapper__btn" type="button" aria-label="Кнопка для перехода в раздел товары">
                            <svg width="23" height="23" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_663_1785)">
                                <circle class="catalog-circle" cx="11" cy="11" r="10"  stroke-width="2"/>
                                <path class="catalog-path" d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </g>
                                <defs>
                                <clipPath id="clip063_17spi985">
                                <rect width="22" height="22" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                        </button>
                     </div>
                </div>
                <picture>
                    <source srcset="img/320px/main/top_category/top_category_05.webp" media="(max-width: 450px)">
                    <source srcset="img/1024px/main/top_category/top_category_05.webp" media="(max-width: 1251px)">
                    <img class="top-category__img" src="img/hige/main/top_category/top_category_05.webp" alt="Изображение раздела топ категории">
                </picture>
                <button class="top-category__btn"><strong>В каталог</strong>
                    <svg width="23" height="23" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_663_1785)">
                        <circle class="catalog-circle" cx="11" cy="11" r="10"  stroke-width="2"/>
                        <path class="catalog-path" d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_623bd63_1785">
                        <rect width="22" height="22" fill="white"/>
                        </clipPath>
                        </defs>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</section>