<section class="userful">
    <div class="container">
        <h2 class="userful__h2">Полезное</h2>
        <div class="swiper userful-swiper">
            <div class="userful-swiper-btn-wrapper">
                <div class="swiper-button-prev userful-swiper-button-pre">
                    <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path class="userful-swiper-path" d="M6 1L1 6L6 11" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>       
                </div>
                <div class="swiper-button-next userful-swiper-buttnom-next">
                    <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path class="userful-swiper-path" d="M1 1L6 6L1 11" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg> 
                </div>
            </div>
            <div class="swiper-wrapper userful-wrapper">
                <article class="swiper-slide article-userful">
                    <h2 hidden><!-- Пустое место --></h2>
                    <img class="article-userful__img" src="img/hige/main/useful/useful_01.webp" alt="Изображение карточки товара">                
                    <div class="article-userful-block">
                        <p class="article-userful-block__text">И нет сомнений, что сделанные на базе интернет-аналитики выводы представляют собой не что иное?</p>
                        <button class="article-userful-block__btn" type="button" aria-label="Кнопка купить">Читать</button>
                    </div>
                </article>
                <article class="swiper-slide article-userful">
                    <h2 hidden><!-- Пустое место --></h2>
                    <img class="article-userful__img" src="img/hige/main/useful/useful_02.webp" alt="Изображение карточки товара">
                    <div class="article-userful-block">
                        <p class="article-userful-block__text">Как принято считать, некоторые особенности приносят несомненную пользу обществу?</p>
                        <button class="article-userful-block__btn" type="button" aria-label="Кнопка купить">Читать</button>
                    </div>
                </article>
                <article class="swiper-slide article-userful">
                    <h2 hidden><!-- Пустое место --></h2>
                    <img class="article-userful__img" src="img/hige/main/useful/useful_03.webp" alt="Изображение карточки товара">                
                    <div class="article-userful-block">
                        <p class="article-userful-block__text">Ясность нашей позиции очевидна: укрепление и развитие внутренней структуры? </p>
                        <button class="article-userful-block__btn" type="button" aria-label="Кнопка купить">Читать</button>
                    </div>
                </article>
                <article class="swiper-slide article-userful">
                    <h2 hidden><!-- Пустое место --></h2>
                    <img class="article-userful__img" src="img/hige/main/useful/useful_04.webp" alt="Изображение карточки товара">
                    <div class="article-userful-block">
                        <p class="article-userful-block__text">Прежде всего, консультация с широким активом однозначно фиксирует необходимость распределения?</p>
                        <button class="article-userful-block__btn" type="button" aria-label="Кнопка купить">Читать</button>
                    </div>
                </article>
                <article class="swiper-slide article-userful">
                    <h2 hidden><!-- Пустое место --></h2>
                    <img class="article-userful__img" src="img/hige/main/useful/useful_05.webp" alt="Изображение карточки товара">                
                    <div class="article-userful-block">
                        <p class="article-userful-block__text">Как принято считать, некоторые особенности приносят несомненную пользу обществу?</p>
                        <button class="article-userful-block__btn" type="button" aria-label="Кнопка купить">Читать</button>
                    </div>
                </article>
            </div>
            <div class="userful-swiper-btn-wrapper320">
                <div class="swiper-button-prev userful-swiper-button-pre">
                    <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path class="userful-swiper-path" d="M6 1L1 6L6 11" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>       
                </div>
                <div class="swiper-button-next userful-swiper-buttnom-next">
                    <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path class="userful-swiper-path" d="M1 1L6 6L1 11" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg> 
                </div>
            </div>
        </div>
    </div>
</section>

