<div class="cart-modal">
    <div class="cart-modal-block">
        <div class="modal-content">
            <h1 class="modal-content__h1">Купить в один клик</h1>
            <p class="modal-content__text">Чтобы оформить заказ — заполните формы ниже и наш менеджер свяжется с вами в течении часа.</p>
            <form class="modal-content__form" id="form" action="#">
                <input class="modal-content__input input-name" type="text" placeholder="Как вас зовут" aria-label="Ввод имени">
                <input class="modal-content__input input-tel" type="text" placeholder="Ваш телефон" aria-label="Ввод номера телефона">
                <button class="modal-content__btn" type="submit" aria-label="Кнопка отправить">Отправить</button>
                <div class="modal-content-check">
                    <input class="modal-content-check__input" id="cart-modal__form__label__check" type="checkbox" aria-label="Кнопка принятия соглашения">
                    <label class="modal-content-check__label" for="cart-modal__form__label__check">Принимаю</label>
                    <a class="modal-content-check__link" href="#">пользовательское соглашение</a>
                </div>
            </form>
        </div>

        <div class="modal-thank">
            <p class="modal-thank__h1">Спасибо, мы вам перезвоним!</p>
        </div>

        <button class="cart-modal-block__btn-close" type="button" aria-label="Закрытие">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M2.3812 0.397739L11.2581 9.03977C11.8029 9.57009 11.8029 10.4299 11.2581 10.9602L2.3812 19.6023C1.83647 20.1326 0.953281 20.1326 0.408549 19.6023C-0.136183 19.0719 -0.136183 18.2121 0.408549 17.6818L8.29914 10L0.40855 2.31819C-0.136182 1.78787 -0.136181 0.928057 0.408551 0.397739C0.953283 -0.13258 1.83647 -0.13258 2.3812 0.397739Z" fill="#999999"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M17.6188 0.397739L8.74188 9.03977C8.19715 9.57009 8.19715 10.4299 8.74188 10.9602L17.6188 19.6023C18.1635 20.1326 19.0467 20.1326 19.5914 19.6023C20.1362 19.0719 20.1362 18.2121 19.5914 17.6818L11.7009 10L19.5914 2.31819C20.1362 1.78787 20.1362 0.928057 19.5914 0.397739C19.0467 -0.13258 18.1635 -0.13258 17.6188 0.397739Z" fill="#999999"/>
            </svg>                
        </button>
    </div>
</div>

